@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
    text-indent: 20px;
}

header {

}

header > h1 {
    text-align: center;
    padding: 10px;
}

header > p {
    text-align: center;
    padding: 10px;
}

nav > span#burguer {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
}

nav > menu {
    display: none;
}

nav > menu > ul {
    list-style-type: none;
}

nav > menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: hsla(202, 83%, 47%, 0.423);
    color: white;
    border-top: 2px solid lightblue;
}

nav > menu > ul > li > a:hover {
    background-color: hsl(202, 81%, 27%);
}

html, body {
    width: 95vw;
    height: 100vh;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:hsl(199, 61%, 17%);

    
    color: white;
    
}

main {
    width:90vw;
    margin: auto;
    background-color:hsl(199, 61%, 17%)
}

.box {
    margin: auto;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 15px;
    border-radius: 15px;
    width: 80%;
    background-color:hsl(199, 61%, 20%)


    
}

div#caixa {

}

fieldset {
    border: 3px solid dodgerblue;
    padding: 10px;
}

legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
}

    
