@charset "UTF-8";



span#burguer {
    background-color: rgb(#003a45);
    display: block;
    color: white;
    padding: 10px;
}
span#burguer:hover {
    background-color: #9eedff6b;
    cursor: pointer;
}

menu#itens {
    display: none;
    padding: 10px;
}

menu > ul {
    list-style-type: none;
    display: block;
}

menu > ul > li {
    display: block;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

menu > ul > li > a:hover {
    background-color: #9eedff6b;
    cursor: pointer;
}